* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0 auto;
  background: #2db2f7;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.modal {
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: black;*/
}

.inner_modal {
  width: 600px;
  margin: auto;
  position: relative;
  padding-top: 10%;
  color: midnightblue;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
}

.btn {
  border: none;
  border-radius: 2px;
  color: black;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
  color: white;
}
a {
  /*display: block;*/
  text-decoration: none;
  margin: 10px;
  color: black;
  border-bottom: 3px solid white;
}
.end {
  /*display: none;*/
}
#container {
  padding-top: 30px;
}
#stat_container {
  padding: 20px 0 25px 0;
}
.stat {
  display: inline-block;
  margin: 0 10px;
}
.start {
  font-size: 1em;
  padding: 6px 20px;
}
